.vs/
x64/
x32/
x86/
Debug/

packages/

DllInjection/Debug/
DllInjection/x64/
DllInjection/x32/
DllInjection/x86/

DllInjectionMain/Debug/
DllInjectionMain/x64/
DllInjectionMain/x32/
DllInjectionMain/x86/

DllInjectionTests/Debug/
DllInjectionTests/x64/
DllInjectionTests/x32/
DllInjectionTests/x86/
DllInjectionTests/.vs/

*.result

packages/